$backgroud_card: #e0e0e0;
$title_card: #333333;
$subtitle_card: #444444;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  background: linear-gradient(#030E8E, #3D49C7);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1rem;

    .search_box {
      button {
        line-height: 2rem;
        padding: 0 1rem;
        border-radius: 0 0.25rem 0.25rem 0;
        border: 1px solid rgba($title_card, 0.2);
        font-weight: 400;
        font-size: 1.15rem;
        cursor: pointer;
      }

      input {
        padding-left: 0.5rem;
        line-height: 2rem;
        font-size: 1.25rem;
        border-radius: 0.25rem 0 0 0.25rem;
        border: 1px solid rgba($title_card, 0.2);
      }

      datalist::marker {
        display: none;
      }

      display: flex;

    }

    .notice {
      background-color: $backgroud_card;
      padding: 0.5rem 1rem;
      font-weight: 500;
      font-size: 1.1rem;
      border-radius: 0.1rem;
    }
  }

  .ReactModal__Content {
    background-color: white;
    border: none;
    min-width: 400px;
    border-radius: 0.2rem;
    padding: 1rem 2rem;
    animation: modalContent 0.5s;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    h1 {
      font-weight: 400;
      font-size: 2rem;
    }

    svg {
      color: red;
      font-size: 8rem;
    }

    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      gap: 1rem;

      h3 {
        font-weight: 500;
        font-size: 1.5rem;
      }

      button {
        display: block;
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 0.25rem;
        border-color: rgba($color: #000000, $alpha: 0.4);
        cursor: pointer;
      }
    }

  }

  .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }

  @keyframes modalContent {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


  .card {
    background-color: $backgroud_card;
    border-radius: 0.25rem;
    padding: 1rem 1rem 2rem;
    animation: cardAnimation 0.4s;

    @keyframes cardAnimation {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    h2 {
      font-size: 2rem;
      color: $title_card;
    }

    h3 {
      font-size: 1rem;
      color: $subtitle_card;
      font-weight: 500;
    }

    img {
      margin-left: -1rem;
    }

    &>div:last-child {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 1rem;

      div {
        grid-template-rows: repeat(2, 1fr);
      }
    }

    .temperature {
      font-size: 1.25rem;
      color: $subtitle_card;

      svg {
        margin-right: 0.25rem;
      }

      &#down {
        svg {
          color: rgba($color: #0000FF, $alpha: 0.8);
        }
      }

      &#up {
        svg {
          color: rgba($color: #FF0000, $alpha: 0.8);
        }
      }

      &#actual {
        color: $title_card;

        font-size: 2.5rem;
      }
    }

  }



}